@media only screen and (max-width:400px){
  html{
    scroll-behavior: smooth;
  }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.heading{
  width: 100%;
  height: 70px;
  border-bottom: 3px solid ;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background:#224E52;
  
  
}
.logo{
  display: flex;
  align-items:center;
}
.logo img{
  width: 80px;
  height: 80px;
}
.heading .logo h2{
  color:#FF3535;
  font-size:16px;
  letter-spacing: 2px;
  font-weight:600;
 
 
}
.nav-links ul{
  position:absolute;
  top:70px;
  background:linear-gradient( to right,rgba(27, 36, 127, 1),rgba(4, 10, 77, 1));
  width: 50%;
  height: 100vh;
  left: -200px;
  z-index: 3;
  transition:all 0.3s ease;
  
}
.nav-links ul  li {
  display:block;
  margin-top: 20px;
}

.nav-links li i{
  position: absolute;
  top:20px;
  bottom: -10px;
  right: 10px;
  margin-bottom:20px;
  color: white;
  font-size: 25px;
  display: block;
}
.nav-links a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 450;
  transition:color 0.4s ease;
 
}

.datalist{
  width: 0%;
  height:60px;
  background:white;
  border-radius: 10px;
  
  margin-right:20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.datalist input[type="text"]{
  width: 80%;
  height:100%;
  border: 0px;
  outline:0px;
  border-radius: 10px;
}
.datalist input::placeholder{
padding-left: 13px;
}
.datalist datalist{
  background:tranaparent;
  margin-left: 50px;
}
.datalist img{
  width:30px;
  height:30px;
  margin-right:10px;
  background: white;
  border-radius: 50%;
  padding: 7px;
}
.humburger{
  display: block;
  color: white;
  margin-right: 20px;
  font-size: 20px;
}
.pullups-title{
  width:95%;
  height:auto;
  background:whitesmoke;
  margin:auto;
  margin-top:100px;
}
.pullups-title h1{
  padding-top:30px;
  padding-bottom:10px;
  font-size:25px;
text-align:center;
}
.paragraph{
  width:100%;
  height:auto;
  background:whitesmoke;
  margin-bottom:10px;
}
.paragraph img:first-child{
  width:100%;
  height:200px;
  margin-top:15px;
  margin:auto;
}
.paragraph p{
  margin-top:20px;
  padding:10px 20px;
  line-height:30px;
  font-size:15px;
}
.paragraph b{
  font-size:18px;
}
.images{
  width:100%;
  height:250px;
}

/*------Accordian-section-------*/
#accordian{
  margin:50px 0px 10px 50px;
  font-size:30px;
  
}
.faq{
  width:90%;
  height:auto;
  background:whitesmoke;
  margin:auto;
  margin-bottom:20px;
}
.question{
  width:100%;
  height:40px;
  display:flex;
  align-items: center;
  justify-content:space-between; 
}
.question h3 {
  margin-left:15px;
  font-size:17px;
  margin-top:20px;
  font-weight:550;
}
.icon{
  margin-right:20px;
  font-size:18px;
  transition: transform 0.4s ease;
  
}
.icon.active{
  transform:rotate(180deg);
}
.answer{
  width:100%;
  max-height:0;
  background:whitesmoke;
  margin-top: 20px;
  overflow:hidden;
  transition: max-height 0.4s ease
}
.answer p{
  padding:10px 20px;
  font-size:15px;
}

.footer{
  width: 100%;
  height:auto;
  background: black;
  margin-top:200px;
}
.footer img{
  width:100px;
  height:100px;
}
.footer h2{
  font-size: 25px;
  color: white;
  text-align: center;
}
.footer-body{
  width: 100%;
  height:auto;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*----Footer-useful-links-------*/
.footer-part{
  width:90%;
  height:auto;
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 12px;
  
  
}
.footer-part h3 {
  color:white;
  margin-left:15px;
}
.footer-part ul li {
  margin-top:15px;
  font-size:15px;
  color:white;
  list-style: none;
}
.footer-part a{
 color:white;
 text-decoration: none;
 transition:color 0.3s ease;
}
.footer-part a:hover{
  color:royalblue;
  
}
/*----Footer-folloe-section-----*/
.follow{
  display:flex;
  justify-content: flex-start;
  width:100%;
  margin-top: 20px;
}

.follow ul li{
  display:inline;
 
}
.follow i {
  color:#FF3535;
  font-size:30px;
}
/*------Footer address section--*/
.address{
  margin-top:15px;
  margin-left: 20px;
}

.address p  address{
  font-size:13px;
  
}

}